header {
  text-align: center;
  padding: 12rem 16rem;
  background: url("images/bg-header-desktop.png") no-repeat;

  img {
    width: 8rem;
    height: 8rem;
    margin-bottom: 5rem;
  }

  h1 {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 5rem;
  }
}
